TERM_PROGRAM=Apple_Terminal
TERM=xterm-256color
SHELL=/bin/bash
TMPDIR=/var/folders/g0/t3xr28gn6mvg0d__pnn2hdbh0000gn/T/
Apple_PubSub_Socket_Render=/private/tmp/com.apple.launchd.htnSOue3re/Render
TERM_PROGRAM_VERSION=361.1
TERM_SESSION_ID=9C86FA92-C8CC-4836-9C79-24291CB06F93
USER=doreenrunyon
SSH_AUTH_SOCK=/private/tmp/com.apple.launchd.TiOZMfCgPZ/Listeners
__CF_USER_TEXT_ENCODING=0x1F5:0x0:0x0
VIRTUAL_ENV=/Users/doreenrunyon/Google_Drive/Hackbright/skills-html-css/env
PATH=/Users/doreenrunyon/Google_Drive/Hackbright/skills-html-css/env/bin:/Applications/Postgres.app/Contents/Versions/9.4/bin/:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin
PWD=/Users/doreenrunyon/Google_Drive/Hackbright/skills-html-css
LANG=en_US.UTF-8
XPC_FLAGS=0x0
PS1=(env)\h:\W \u\$ 
XPC_SERVICE_NAME=0
HOME=/Users/doreenrunyon
SHLVL=1
LOGNAME=doreenrunyon
SECURITYSESSIONID=186a8
_=/usr/bin/env
OLDPWD=/Users/doreenrunyon/Google_Drive/Hackbright/skills-html-css/templates
